body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwmJrysKHmepXvjDOn1wmP8s3-sJFSfpnDgwhaV1Qh_9wv5ZFsFHUb0Qv_&s=10");
    background-position: center;
    background-repeat: no-repeat;
}